/*=========== sub_artworks style ==========*/
/*=========== sub_artworks style ==========*/
body {
  background: url(../img/bg_img/Asset\ 13@2x.png) no-repeat center center;
  background-size: cover;
}
/*=========== header style ==========*/
.header_content .menu_sec a:nth-child(1) {
  text-decoration: none;
}
.header_content .menu_sec a:nth-child(5) {
  text-decoration: underline;
}
.sub_header {
  position: absolute;
  width: 25%;
  height: 60px;
  box-sizing: border-box;
  top: 80px;
  left: 44%;
}
.sub_header .bar_1 {
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  transform: skew(50deg);
  background: #fff;
}
.sub_header .bar_2 {
  width: 100%;
  height: 80%;
  margin-left: 5%;
  box-sizing: border-box;
  border: 1px dashed black;
  background: #fff;
  padding-top: 17px;
  text-align: center;
  word-spacing: 7px;
  cursor: pointer;
}
/*=========== section style ==========*/
.container {
  padding: 50px 40px;
}
.container .content_txt {
  width: 100%;
}
.container .content_txt h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  float: none;
}
.container .content_txt h2 {
  font-size: 27px;
  margin-bottom: 15px;
}
.container .content_img img {
  width: 100%;
  margin-left: 0;
}
.container .content_img.bottom_img {
  margin-top: 50px;
}
.container .content_txt_2 {
  width: 100%;
  height: auto;
}
.container .content_txt_2 em {
  font-style: normal;
  font-size: 12px;
  font-weight: 200;
}
.container .content_txt_2 em.sub_txt {
  float: right;
}
.container .content_txt_2 p {
  line-height: 1.3;
  font-size: 17px;
  font-weight: 300;
  margin-top: 50px;
  text-align: right;
  padding-left: 30%;
}
.container .content_txt_2 h2 {
  text-align: right;
  padding-top: 5px;
  font-size: 25px;
  font-weight: 600;
}
