@media screen and (max-width: 500px) {
  /*=========== section style ==========*/

  .container .content_txt {
    width: 100%;
  }
  .container .content_txt .txt_name {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .container .content_txt h1 {
    font-size: 40px;
  }
  .container .content_txt p {
    margin-bottom: 50px;
  }
  .container .content_gif {
    width: 100%;
    height: 300px;
  }
  .container .content_img .item_img {
    position: absolute;
    bottom: 10px;
    left: -30px;
    width: 47%;
    transition: all 0.3s ease-out;
  }
}
