/*=========== sub_contact style ==========*/
/*=========== sub_contact style ==========*/
body {
  background: url(../img/bg_img/Asset\ 12@2x.png) no-repeat center center;
  background-size: cover;
}
.wrap {
  background: none;
}
/*=========== header style ==========*/
.header_content .menu_sec a:nth-child(1) {
  text-decoration: none;
}
.login_bottom a:nth-child(1) {
  text-decoration: underline;
}
.side_panel {
  z-index: 10;
}
/*=========== section style ==========*/
.container {
  padding: 50px 40px;
  /* background: rgba(255, 255, 255, 0.5); */
  background: #fff;
  backdrop-filter: blur(6px);
}
.container .content {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.container .content .contact_content {
  width: 95%;
  height: 300px;
  box-sizing: border-box;
  background: #ddd;
  margin-bottom: 60px;
  position: relative;
}
.container .content .contact_content .img_box {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  float: left;
}
.container .content .contact_content .img_box img {
  height: 100%;
  margin-left: -10%;
}
.container .content .contact_content .txt_box {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding: 30px 30px 0 0;
}
.container .content .contact_content .txt_box p {
  font-size: 20px;
  margin-bottom: 15px;
}
.container .content .contact_content .txt_box h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
.container .content .contact_content .txt_box h2 {
  font-size: 33px;
  margin-bottom: 15px;
}
.container .content .contact_content .txt_box em {
  float: right;
  text-align: right;
  line-height: 2;
}
.container .content .contact_content .check_box {
  position: absolute;
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 50%;
  bottom: -40px;
  right: -70px;
  background: #fff;
  text-align: center;
  padding-top: 35px;
  cursor: pointer;
}
.container .content .contact_content .check_box p {
  font-size: 20px;
  font-weight: 500;
}
